### 13-3-23

### Data and Time Data types and tools

In [1]:
from datetime import datetime
now=datetime.now()
now

datetime.datetime(2023, 3, 27, 8, 41, 32, 170112)

In [2]:
now.year,now.month,now.day

(2023, 3, 27)

In [3]:
delta=datetime(2011,1,7)-datetime(2008,6,24,8,15)
delta

datetime.timedelta(days=926, seconds=56700)

In [4]:
delta.days

926

In [5]:
delta.seconds

56700

In [6]:
#delta.year..no

In [7]:
from datetime import timedelta
start=datetime(2011,1,7)
start

datetime.datetime(2011, 1, 7, 0, 0)

In [8]:
start+timedelta(12)#timedelta-to arithmetic -time duration#addition(day)

datetime.datetime(2011, 1, 19, 0, 0)

In [9]:
start+timedelta(365)

datetime.datetime(2012, 1, 7, 0, 0)

In [10]:
start-2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 14-3-23

### converting between string and datetime

In [11]:
stamp=datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [13]:
value='2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs=['7/6/2011','8/6/2011']
[datetime.strptime(x,'%d/%m/%Y')for x in datestrs]

[datetime.datetime(2011, 6, 7, 0, 0), datetime.datetime(2011, 6, 8, 0, 0)]

In [15]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2023, 1, 31, 22, 45)

In [17]:
parse('6/12/2011',dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [18]:
import pandas as pd

In [19]:
datestrs=['2011-07-06 12:00:00','2011-08-06 00:00:00']
pd.to_datetime(datestrs)#by using to_datetime-index value

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [20]:
idx=pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [21]:
idx[2]

NaT

In [22]:
idx[1]

Timestamp('2011-08-06 00:00:00')

### time series basics

In [23]:
pd.isnull(idx)

array([False, False,  True])

In [24]:
import numpy as np

In [25]:
from datetime import datetime
dates=[datetime(2011,1,2),datetime(2011,1,5),
      datetime(2011,1,7),datetime(2011,1,8),
      datetime(2011,1,10),datetime(2011,1,12)]
ts=pd.Series(np.random.randn(6),index=dates)
ts#dtype shown in o/p --value's dtype=float

2011-01-02    0.793502
2011-01-05   -0.954434
2011-01-07   -0.544844
2011-01-08   -0.844881
2011-01-10    1.042337
2011-01-12    0.358457
dtype: float64

In [26]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [27]:
ts+ts[::2]

2011-01-02    1.587004
2011-01-05         NaN
2011-01-07   -1.089689
2011-01-08         NaN
2011-01-10    2.084674
2011-01-12         NaN
dtype: float64

In [28]:
ts+ts[::3]

2011-01-02    1.587004
2011-01-05         NaN
2011-01-07         NaN
2011-01-08   -1.689762
2011-01-10         NaN
2011-01-12         NaN
dtype: float64

In [29]:
ts.index.dtype#M8-month-2-year-4-date-2

dtype('<M8[ns]')

In [30]:
stamp=ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

#### 15-03-23

In [31]:
#Indexing, selection ,subsetting

In [32]:
stamp=ts.index[2]
stamp

Timestamp('2011-01-07 00:00:00')

In [33]:
ts

2011-01-02    0.793502
2011-01-05   -0.954434
2011-01-07   -0.544844
2011-01-08   -0.844881
2011-01-10    1.042337
2011-01-12    0.358457
dtype: float64

In [34]:
ts[stamp]#acsessing index

-0.544844279380988

In [35]:
ts['1/10/2011']#general format

1.0423370799232121

In [36]:
ts['20110110']#index value

1.0423370799232121

In [37]:
longer_ts=pd.Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000',periods=1000))#index we can use date range
longer_ts

2000-01-01    0.270093
2000-01-02    0.488130
2000-01-03    2.010223
2000-01-04    0.045597
2000-01-05   -0.341591
                ...
2002-09-22   -1.396781
2002-09-23    0.982220
2002-09-24    0.405584
2002-09-25   -0.429544
2002-09-26    0.331407
Freq: D, Length: 1000, dtype: float64

In [38]:
longer_ts['2001']

2001-01-01   -0.238620
2001-01-02   -0.139822
2001-01-03   -0.312881
2001-01-04    0.121903
2001-01-05    0.857863
                ...
2001-12-27    1.687924
2001-12-28   -0.581474
2001-12-29   -0.939526
2001-12-30    0.582080
2001-12-31    0.004745
Freq: D, Length: 365, dtype: float64

In [39]:
longer_ts['2001-05']

2001-05-01   -2.003165
2001-05-02   -0.679508
2001-05-03   -0.321748
2001-05-04   -0.567591
2001-05-05    0.595225
2001-05-06   -1.982825
2001-05-07    0.396892
2001-05-08   -0.189151
2001-05-09    0.263217
2001-05-10    0.160853
2001-05-11    0.063736
2001-05-12    0.025011
2001-05-13    0.399734
2001-05-14    1.028459
2001-05-15    0.307356
2001-05-16   -1.195228
2001-05-17   -0.513962
2001-05-18    0.582629
2001-05-19   -3.657035
2001-05-20    0.851044
2001-05-21   -1.889878
2001-05-22   -1.356130
2001-05-23   -1.394418
2001-05-24   -2.029281
2001-05-25   -0.127307
2001-05-26   -1.415306
2001-05-27    0.225425
2001-05-28   -0.388679
2001-05-29    0.779283
2001-05-30    0.323646
2001-05-31   -0.309480
Freq: D, dtype: float64

In [40]:
ts[datetime(2011,1,7):]

2011-01-07   -0.544844
2011-01-08   -0.844881
2011-01-10    1.042337
2011-01-12    0.358457
dtype: float64

In [41]:
ts

2011-01-02    0.793502
2011-01-05   -0.954434
2011-01-07   -0.544844
2011-01-08   -0.844881
2011-01-10    1.042337
2011-01-12    0.358457
dtype: float64

In [42]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.544844
2011-01-08   -0.844881
2011-01-10    1.042337
dtype: float64

In [43]:
ts.truncate(after='1/9/2011')#by using after

2011-01-02    0.793502
2011-01-05   -0.954434
2011-01-07   -0.544844
2011-01-08   -0.844881
dtype: float64

In [44]:
dates=pd.date_range('1/1/2000',periods=100,freq='W-WED')
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=dates,
                    columns=['Colorado','Texas',
                            'New York','Ohio'])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -1.705098  0.224292 -0.441266  0.209610
2000-01-12  1.746668  2.003486  0.537893  0.611706
2000-01-19 -0.737229 -0.367443  1.999454  1.287800
2000-01-26  0.596994  0.350866 -1.040507 -0.269595
2000-02-02 -1.501773 -0.395946  0.480806 -1.230430
...              ...       ...       ...       ...
2001-10-31  2.564152 -1.214370 -0.651603  0.352909
2001-11-07 -1.207537  0.096350 -0.240431  0.954215
2001-11-14  1.280567  1.287671  0.127358  0.192321
2001-11-21  0.356030 -1.441897 -0.754843 -2.284983
2001-11-28 -1.246459 -1.344925 -0.482537 -1.635502

[100 rows x 4 columns]

In [45]:
long_df.loc['5-2001']#location

            Colorado     Texas  New York      Ohio
2001-05-02  0.715947  1.211670  2.320978  0.395106
2001-05-09 -0.840620  0.838495  1.227166  0.993026
2001-05-16 -1.448065 -0.800437  0.584098  0.683026
2001-05-23  1.702759 -1.644533  0.414367  0.728291
2001-05-30 -0.561333  0.748770 -0.242857  0.990834

In [46]:
long_df.loc['6-2001']

            Colorado     Texas  New York      Ohio
2001-06-06 -0.154257 -0.448150  1.056108  0.662944
2001-06-13  1.445079 -1.012446 -1.167673  0.878334
2001-06-20 -0.111817  1.928902 -0.888660  0.143450
2001-06-27 -0.647512  0.190393  0.501730  0.186763

#### 16-3-23

### time series with duplicate indices

In [47]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',#in timeseries can be duplicate
                        '1/2/2000','1/3/2000'])
dup_ts=pd.Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [48]:
dup_ts.index.is_unique#checking whether index is (unique)#duplicate

False

In [49]:
dup_ts['1/3/2000']#not duplicated

4

In [50]:
dup_ts['1/2/2000']#duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [51]:
dup_ts['1/1/2000']#not duplicated

0

In [52]:
grouped=dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [53]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

### **date ranges,frequencies and shifting

In [54]:
ts

2011-01-02    0.793502
2011-01-05   -0.954434
2011-01-07   -0.544844
2011-01-08   -0.844881
2011-01-10    1.042337
2011-01-12    0.358457
dtype: float64

In [55]:
resampler=ts.resample('D').count()#resampler---groupby operation-by month year day
resampler

2011-01-02    1
2011-01-03    0
2011-01-04    0
2011-01-05    1
2011-01-06    0
2011-01-07    1
2011-01-08    1
2011-01-09    0
2011-01-10    1
2011-01-11    0
2011-01-12    1
Freq: D, dtype: int64

In [56]:
resampler=ts.resample('M').count()
resampler

2011-01-31    6
Freq: M, dtype: int64

In [57]:
resampler=ts.resample('Y').count()
resampler

2011-12-31    6
Freq: A-DEC, dtype: int64

#### **Generating Date Ranges

In [58]:
index=pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range(end='2020-04-01',periods=20)

DatetimeIndex(['2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16',
               '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20',
               '2020-03-21', '2020-03-22', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-28',
               '2020-03-29', '2020-03-30', '2020-03-31', '2020-04-01'],
              dtype='datetime64[ns]', freq='D')

In [61]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')#busniss month

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [62]:
pd.date_range('2000-01-01','2000-12-01',freq='Q')

DatetimeIndex(['2000-03-31', '2000-06-30', '2000-09-30'], dtype='datetime64[ns]', freq='Q-DEC')

In [63]:
pd.date_range('2000-01-01','2000-12-01',freq='Y')

DatetimeIndex([], dtype='datetime64[ns]', freq='A-DEC')

In [64]:
pd.date_range('2000-01-01','2000-01-31',freq='5H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 05:00:00',
               '2000-01-01 10:00:00', '2000-01-01 15:00:00',
               '2000-01-01 20:00:00', '2000-01-02 01:00:00',
               '2000-01-02 06:00:00', '2000-01-02 11:00:00',
               '2000-01-02 16:00:00', '2000-01-02 21:00:00',
               ...
               '2000-01-29 03:00:00', '2000-01-29 08:00:00',
               '2000-01-29 13:00:00', '2000-01-29 18:00:00',
               '2000-01-29 23:00:00', '2000-01-30 04:00:00',
               '2000-01-30 09:00:00', '2000-01-30 14:00:00',
               '2000-01-30 19:00:00', '2000-01-31 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='5H')

In [65]:
pd.date_range('2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [66]:
pd.date_range('2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

#### frequencies and date offsets

In [67]:
#arithmetic---calculated by days-year and seconds-minutes

In [68]:
from pandas.tseries.offsets import Hour,Minute#offsets-add or sub time
hour=Hour()
hour

In [69]:
four_hours=Hour(4)
four_hours

In [70]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='16h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 16:00:00',
               '2000-01-02 08:00:00', '2000-01-03 00:00:00',
               '2000-01-03 16:00:00'],
              dtype='datetime64[ns]', freq='16H')

In [71]:
Hour(2)+Minute(30)

In [72]:
pd.date_range('2000-01-01',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### **week of month dates

In [73]:
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')#regular
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### 20-03-23

#### Shifting (leading and lagging) data

In [74]:
ts=pd.Series(np.random.rand(4),
            index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31    0.868404
2000-02-29    0.786549
2000-03-31    0.910115
2000-04-30    0.598220
Freq: M, dtype: float64

In [75]:
ts.shift(2)#forward shifting

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.868404
2000-04-30    0.786549
Freq: M, dtype: float64

In [76]:
ts.shift(-2)#backward shifting#reverse

2000-01-31    0.910115
2000-02-29    0.598220
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [77]:
ts.shift(-1)

2000-01-31    0.786549
2000-02-29    0.910115
2000-03-31    0.598220
2000-04-30         NaN
Freq: M, dtype: float64

In [78]:
ts.shift(1)

2000-01-31         NaN
2000-02-29    0.868404
2000-03-31    0.786549
2000-04-30    0.910115
Freq: M, dtype: float64

In [79]:
ts.shift(1)-1

2000-01-31         NaN
2000-02-29   -0.131596
2000-03-31   -0.213451
2000-04-30   -0.089885
Freq: M, dtype: float64

In [80]:
ts.shift(1)+1

2000-01-31         NaN
2000-02-29    1.868404
2000-03-31    1.786549
2000-04-30    1.910115
Freq: M, dtype: float64

In [81]:
ts/ts.shift(1)+1

2000-01-31         NaN
2000-02-29    1.905742
2000-03-31    2.157098
2000-04-30    1.657302
Freq: M, dtype: float64

In [82]:
ts.shift(2,freq='M')#shift the date(index)

2000-03-31    0.868404
2000-04-30    0.786549
2000-05-31    0.910115
2000-06-30    0.598220
Freq: M, dtype: float64

In [83]:
ts.shift(1,freq='M')

2000-02-29    0.868404
2000-03-31    0.786549
2000-04-30    0.910115
2000-05-31    0.598220
Freq: M, dtype: float64

In [84]:
 ts.shift(3,freq='D')

2000-02-03    0.868404
2000-03-03    0.786549
2000-04-03    0.910115
2000-05-03    0.598220
dtype: float64

In [85]:
ts.shift(1,freq='90T')#T- time---minutes(90)#one and half hrs

2000-01-31 01:30:00    0.868404
2000-02-29 01:30:00    0.786549
2000-03-31 01:30:00    0.910115
2000-04-30 01:30:00    0.598220
dtype: float64

#### shifting dates with offsets

In [87]:
from pandas.tseries.offsets import Day,MonthEnd

In [88]:
now=datetime(2011,11,17)
now

datetime.datetime(2011, 11, 17, 0, 0)

In [89]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [90]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [91]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [92]:
now+MonthEnd(3)

Timestamp('2012-01-31 00:00:00')

In [93]:
offset=MonthEnd()
offset

In [94]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [95]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [96]:
ts=pd.Series(np.random.randn(20),
            index=pd.date_range('1/15/2000',periods=20,freq='4d'))
ts

2000-01-15   -0.906806
2000-01-19   -0.370118
2000-01-23   -0.935061
2000-01-27   -0.943501
2000-01-31   -1.272342
2000-02-04   -0.959784
2000-02-08   -1.578899
2000-02-12   -0.071346
2000-02-16   -0.327285
2000-02-20   -0.094986
2000-02-24   -0.945006
2000-02-28   -0.517706
2000-03-03    0.799238
2000-03-07   -0.011088
2000-03-11    0.552326
2000-03-15   -1.518044
2000-03-19   -1.665430
2000-03-23    0.381823
2000-03-27    0.759895
2000-03-31    0.539865
Freq: 4D, dtype: float64

In [97]:
ts.groupby(offset.rollforward).mean()#month

2000-01-31   -0.885566
2000-02-29   -0.642144
2000-03-31   -0.020177
dtype: float64

In [98]:
ts.resample('M').mean()

2000-01-31   -0.885566
2000-02-29   -0.642144
2000-03-31   -0.020177
Freq: M, dtype: float64

In [99]:
ts.resample('Y').mean()

2000-12-31   -0.454213
Freq: A-DEC, dtype: float64

In [100]:
ts.resample('Q').mean()

2000-03-31   -0.454213
Freq: Q-DEC, dtype: float64

#### 27-3-23